fastapi
uvicorn
python-dotenv
python-multipart

# AI / LLM
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-groq

# Embeddings / ML
sentence-transformers
faiss-cpu

# API / HTTP
requests
httpx

# Optional (if using Groq / OpenAI)
groq
openai