fastapi
uvicorn[standard]
python-dotenv
python-multipart

# LangChain core
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface

# LLM APIs
langchain-groq
groq

# Embeddings (lighter setup)
sentence-transformers


# HTTP
requests
httpx